.title {
  margin: 0 0 0.1rem 0;
  line-height: 1;
  letter-spacing: 2px;
}

.desc {
  color: gray;
}

.header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.card {
  display: flex;
  flex-wrap: nowrap;
  padding: 1rem 0.2rem;
  border-bottom: 1px solid gainsboro;
  max-width: 100%;
}

.favicon_img {
  width: 48px;
  margin-right: 0.6rem;
}

.card > section:nth-child(2) {
  max-width: calc(100% - calc(48px + 0.6rem));
}

.link_title {
  font-size: 0.85em;
  letter-spacing: 1px;
  text-transform: uppercase;
  max-width: 85%;
  margin-right: 0.4em;
  text-overflow: ellipsis;
  overflow-x: hidden;
  white-space: nowrap;
}

.link_url {
  color: gray;
  text-overflow: ellipsis;
  overflow-x: hidden;
  white-space: nowrap;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search_wrapper {
  margin: 2rem auto;
}

.search_wrapper input {
  font: inherit;
  width: 100%;
  border: none;
  background-color: transparent;
  font-weight: bold;
  font-size: 1.2em;
  color: gray;
  line-height: 1;
}

.search_wrapper input:focus {
  outline: none;
}
